body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h2{
    font-weight: 900;
    font-style:italic;
    font-size: 45px;
    color:goldenrod;
    padding-top: 1px;
    font-family: "Roboto Slab", serif;
    text-decoration-style: solid;
    text-decoration: underline wavy;
    text-decoration-color:darkorchid;
    text-decoration-thickness: 5px;
}
